.admin_page-container {
    display: flex;
    width: auto;
    margin: auto;
    padding-top: 160px;
    
    justify-content: space-around;
}

* {
  box-sizing: border-box;
}
.wrapper {
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 120px;
}

.wrapper > div {
  // border: 2px solid rgb(233 171 88);
  border-radius: 5px;
  // background-color: rgba(233 171 88 / 0.5);
  padding: 1em;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1;
  grid-row: 1/2;
  width: 70%;
}
.two {
  grid-column: 2;
  grid-row: 1 / 5;
  width: 100%;
}

.four {
  grid-column: 1;
  grid-row: 2/5;
}
.table-scroll {
    max-height: 395px; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal overflow */
    position: relative;
    max-width: 1000px;
  }


  .stories-scroll {
    max-height: 750px; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal overflow */
    position: relative;
    justify-content: space-around;
    max-width: 800px;
    grid-column: 3 ;
  grid-row: 1 / 5;
  }



.table-container {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
    
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #fff; /* Set cell background color to white */
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #000; /* Set border color to black */
  }
  
  th {
    background-color: #000;
    color: #fff;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #fff; /* Set even row background color to white */
  }
  
  tr:nth-child(odd) {
    background-color: #eee; /* Set odd row background color to a lighter shade of gray */
  }
  
