.page-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  }

  .header-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px; /* Add some margin if needed */
    padding-top: 90px;
    width: 50%;
    align-items: end;
    
  } 